{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Complaint Section</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href= "{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->


</head>
<body>
	
	<div class="limiter" >
		<div class="container-login100" style="background-color:darkcyan;">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(/static/images/bg-01.png);">
					<span class="login100-form-title-1">
						Complaint

					</span>
				</div>

				<form class="login100-form validate-form" method="POST">
					{% csrf_token %}

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Name is required">
						<span class="label-input100">Name</span>
						<input class="input100" type="text" name="name" placeholder="Enter Name">
						<span class="focus-input100"></span>
                    </div>
                    
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Contact details required">
						<span class="label-input100">Mobile Number</span>
						<input class="input100" type="number" name="number" placeholder="Enter valid Phone number" maxlength="10">
						<span class="focus-input100"></span>
                    </div>
                                        

					<div class="input100 validate-input m-b-26" data-validate="Category is required">
                        <span class="label-input100">Select Category</span>
                        <span class="focus-input100"></span>
                        <select name="complaint" id="complaints" style="margin-top: 20px;" >
                            <option>---Select---</option>
                            <option>Housekeeping</option>
                            <option>Pest Control</option>
                            <option>Electrical</option>
                            <option>RO & Plumbing</option>
                            <option>Carpentry</option>
                            <option>Air Conditioning</option>
                            <option>Laundry</option>
                            <option>Medical</option>
                            <option>Wifi</option>
                        </select>
						<!-- <input class="input100" type="date" name="depdate" placeholder="Enter Departure Date"> -->
						 
					</div>

					<div class="wrap-input100 validate-input m-b-26" data-validate="Problem is required">
						<span class="label-input100">Problem</span>
						<input class="input100" type="text" name="problem" placeholder="Enter Text">
						<span class="focus-input100"></span>
					</div>

                    <div class="wrap-input100 validate-input m-b-26" data-validate="Room number is required">
						<span class="label-input100">Room Number</span>
						<input class="input100" type="number" name="room" placeholder="Enter Room Number">
						<span class="focus-input100"></span>
                    </div>
                    
                    <div class="input100 validate-input m-b-26" data-validate="Category is required">
                        <span class="label-input100">Select User Type</span>
                        <span class="focus-input100"></span>
                        <select name="user_type" id="user_type" style="margin-top: 20px;" >
                            <option>---Select---</option>
                            <option>Student</option>
                            <option>Warden</option>
                            <option>Staff</option>
                            <option>Other</option>
                        </select>
                    </div>
					
                    
                    <div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>




